@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #334b57;
}
a {
  color: ivory;
}
/* DEFAULT COLOR DECLERATIONS */
:root {
  --dark-color: #333;
  --light-color: #cbd6dc;
}
.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn-main-white {
  background: none;
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 20px;
  border: 1px var(--light-color) solid;
  border-radius: 10px;
  font-weight: 300;
}
.btn-main-white:hover {
  background: var(--light-color);
  color: var(--dark-color);
  transition: 250ms;
}
.btn-card-white {
  background: none;
  color: var(--light-color);
  padding: 5px;
  border: 1px var(--light-color) solid;
  border-radius: 8px;
  width: 100px;
  cursor: pointer;
}
.btn-card-white:hover {
  background: var(--light-color);
  color: var(--dark-color);
  transition: 250ms;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(51, 75, 87, 0.2);
  padding: 20px;
  gap: 20px;
}
.card img {
  max-width: 200px;
  max-height: 200px;
  filter: grayscale(70%);
}
.card:hover img {
  filter: grayscale(0);
  transition: all 250ms ease;
}
.info-card {
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: var(--light-color);
}
.info-card p:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: bold;
}
.info-card p:nth-of-type(2) {
  font-weight: 300;
}
.info-card-source {
  color: var(--light-color);
  font-size: 0.8rem;
  opacity: 50%;
}
/* OVERVIEW PAGE */
.overview-page {
  width: 100%;
  background-image: linear-gradient(
      rgba(51, 75, 87, 0.2),
      rgba(51, 75, 87, 0.2)
    ),
    url(./media/cards-bg.jpg);
  background-repeat: repeat;
  color: var(--light-color);
  display: none;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-rows: 50px 3fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.overview-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.overview-aside h1 {
  font-size: 64px;
  text-align: center;
}
.overview-main img {
  max-height: 500px;
  max-width: 500px;
  height: auto;
  width: 100%;
  padding-left: 10px;
}
.overview-aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  text-align: justify;
  justify-content: space-evenly;
}
.overview-footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-card {
  border: 1px var(--light-color) solid;
  height: 100px;
  width: 200px;
  padding: 10px 10px;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(51, 75, 87, 0.3);
}
.footer-card p:nth-of-type(2) {
  opacity: 100%;
  font-weight: bold;
  align-self: center;
  justify-self: center;
  font-size: x-large;
  color: white;
}
