/* NAVBAR */
.top-nav {
  display: flex;
  flex-direction: column;
  background-color: rgba(51, 75, 87, 0.3);
  backdrop-filter: blur(8px);
  box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.85);
  color: var(--light-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.brand {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1em;
}
.toggle-menu-icon {
  position: absolute;
  top: 9px;
  right: 16px;
  cursor: pointer;
}
.menu {
  display: none;
}
.menu a {
  display: block;
  padding: 5px;
}
.menu ul {
  top: 50%;
  font-size: 1.5rem;
  text-align: center;
}
.menu ul li {
  border-bottom: ivory 1px solid;
}
.menu li:hover {
  background-color: antiquewhite;
}
.menu li:hover a {
  color: #333;
}
/* NAVBAR END*/
/* HEADER SECTION */
.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./media/solar-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.header-section p {
  color: var(--light-color);
  max-width: 600px;
}
.header-section p:nth-of-type(1) {
  font-size: 4rem;
  font-weight: 500;
}
.header-section p:nth-of-type(2) {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0px 15px;
}
/* HEADER SECTION END */
/* INFO SECTION */
.info-section {
  gap: 20px;
  padding: 80px 20px;
  align-items: flex-start;
}
/* INFO SECTION END*/
/* CARD SECTION */
.cards-section {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(51, 75, 87, 0.2),
      rgba(51, 75, 87, 0.2)
    ),
    url(./media/cards-bg.jpg);
  background-repeat: repeat;
  color: var(--light-color);
  padding: 30px 20px 20px 20px;
}
.cards-section p {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 30px;
}
.card a {
  font-size: larger;
  font-weight: 600;
  /* padding: 5px 10px; */
}
.cards-grid {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
/* CARD SECTION END */
/* FOOTER */
.footer .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: var(--light-color);
}
.footer .contact h2 {
  margin: 0;
  color: var(--light-color);
}
.contact a {
  text-decoration: none;
  color: var(--light-color);
}
.footer {
  padding: 20px 200px;
  background-color: #334b57;
}
.contact-icons a {
  padding: 15px;
}
/* FOOTER END*/
@media (max-width: 1080px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer {
    padding: 20px;
  }
}
@media (max-width: 931px) {
  .overview-page {
    grid-template-areas:
      "header header"
      "main main"
      "aside aside"
      "footer footer";
    grid-template-rows: 50px 30fr 10fr 15fr;
    grid-template-columns: 1fr 1fr;
  }
  .overview-aside {
    align-self: flex-start;
  }
  .overview-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 30px;
    padding: 30px 0px;
    align-self: flex-start;
  }
}
@media (max-width: 815px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-section p {
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .header-section p:nth-of-type(2) {
    text-align: justify;
    font-weight: 400;
  }
  .info-card p:nth-of-type(2) {
    font-weight: 400;
  }
  .cards-grid {
    grid-template-columns: 1fr;
  }
  .contact {
    flex-direction: column;
    gap: 10px;
  }
  /* INFO SECTION */
  .info-section {
    flex-direction: column;
    gap: 80px;
  }
  /*OVERVIEW SECTION */
  .overview-nav {
    display: none;
  }
  .overview-page {
    grid-template-areas:
      "header header header"
      "main main main"
      "main aside aside"
      "main footer footer";
    grid-template-rows: 50px 2fr 1fr 2fr;
    grid-template-columns: 1fr;
  }
  .overview-footer {
    grid-template-columns: 1fr;
    padding: 20px 20px;
  }
  .footer-card {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .overview-page {
    grid-template-areas:
      "header header header"
      "main main main"
      "main aside aside"
      "main footer footer";
    grid-template-rows: 0px 8fr 5fr 10fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 281px) {
  .cards-section p {
    font-size: 2rem;
  }
  .overview-page {
    grid-template-areas:
      "header header header"
      "main main main"
      "main aside aside"
      "main footer footer";
    grid-template-rows: 0px 6fr 8fr 11fr;
    grid-template-columns: 1fr;
  }
}
