body {
  background-color: #191919;
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
}
img {
  max-height: 100%;
  max-width: 100%;
}
h1 {
  color: #ecdbba;
  text-align: center;
}

.card {
  margin: 2px;
  text-align: justify;
}

.card-img-top {
  margin-top: 15px;
}
hr {
  color: #6e6e6e;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(100%);
}
.accordion-button:is(.collapsed)::after {
  filter: brightness(0%) invert(100%);
}

.accordion-button:focus {
  box-shadow: inherit;
}
.accordion-body {
  text-align: justify;
}
