@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}
button:hover {
  cursor: pointer;
  opacity: 70%;
}
button:active {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  transition: 100ms;
}
.bg-orange {
  background-color: #ff924c !important;
}

.outer-frame {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}
.inner-frame {
  height: 400px;
  width: 250px;
  border-radius: 5px;
  background-color: #9db0ce;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
}
.screen {
  width: 249px;
  height: 100px;
  background-color: #051720;
  border-radius: 5px;
  color: #1982c4;
  display: flex;
  justify-content: end;
  align-items: center;
}
.screen p {
  font-size: xx-large;
  padding-right: 10px;
}
.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 300px;
  padding: 5px;
}
.btn-generic {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  background-color: ivory;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
}
#zero {
  grid-column: 1/5;
  width: 96%;
}
